<div class="row justify-content-center">
        <div class="col-md-6">
            <a class="facebook-icon" href="/auth/facebook"><img  src="/icons/facebook-icon.svg">Ingresar con Facebook</a>
        </div>
</div>

<style>
    .facebook-icon{
        margin-top: 2rem;
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    
    .facebook-icon img {
        height: 5rem;
    }
</style>