<div class="row justify-content-center">
        <div class="col-md-6">
                <h2 style="text-align: center">Login</h2>
            <a class="facebook-icon" href="/auth/facebook"><img  src="/icons/facebook-icon.svg">Ingresar con Facebook</a>
        </div>
</div>

<style>
    .facebook-icon{
        display:flex;
        flex-direction: column;
        
    }
    
    .facebook-icon img {

        height: 5rem;
    }
</style>